@model IEnumerable<IdentityRole> 
@{
    ViewData["Title"] = "Roller Listesi";
}

<h1 class="text-center">@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-12">
        <hr>
        <a href="/Rols/RoleCreate" class="btn btn-primary btn-sm">Rol Ekle</a>
        
        <p></p>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td style="width: 250px;">Id</td>
                    <td>Rol Adı</td>
                    <td style="width: 160px;"></td>
                </tr>
            </thead>
            <tbody>

                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>

                            <td>
                                <a href="/role/@item.Id" class="btn btn-primary btn-sm mr-2">Düzenle</a>

                                <form action="/Rols/RolDelete" method="POST" style="display: inline;">
                                    <input type="hidden" name="RoleId" value="@item.Id">

                                    <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                                </form>

                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>Rol Yok</h3>
                    </div>
                }

            </tbody>
        </table>

    </div>
</div>

