@model CoreShopApp.WebUI.Models.ResetPasswordModel
@{
    ViewData["Title"] = "Şifremi Sıfırla";
}

<h1 class="text-center">@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="ResetPassword" method="post">

            <input type="hidden" asp-for="Token" />

            <div asp-validation-summary="All" class="text-danger"></div>

            @* email bölümü *@
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            @* şifre bölümü *@
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            @* buton bölümü *@
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
                <a href="/Home/Index" class="btn btn-danger">İptal</a>
            </div>
        </form>
    </div>
</div>




